body {
	background-color: #777;
	font-style: sans-serif;
}
header {
	
	border-left: 7px solid;
	border-right: 7px solid;
	
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 960px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;
	
}
nav {
	border:7px solid;
	border-color: #777;
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 960px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;
}
article {
	border:7px solid;
	border-color: #ebebeb;
	background-color: #777;
	color: #ebebeb;
	width: 480px;
	padding-top: 15px;
	padding-bottom: 7px;
}
h4 {
	border:7px solid;
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 440px;
	margin:auto;
	margin-top: 10px;
	padding:10px 5px 10px 5px;
}

p {
	border: solid;
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 440px;
	margin: auto;
	padding:10px 5px 10px 5px;
}
.wrap {
	width: 974px;
	margin:auto;
}

section {
	
	
	
	float: left;
	border:7px solid;
	border-color: #777;
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 495px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	

}

.right {
	
	float: left;	
	border:7px solid;
	border-color: #777;
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 450px;
	padding-top: 40px;
	padding-bottom: 168px;
	margin-left: auto;
	margin-right: auto;
}

footer {

	clear: both;
	border:7px solid;
	border-color: #777;
	text-align: center;
	background-color: #ebebeb;
	color: #777;
	width: 960px;
	margin: auto;
	padding-top: 35px;
	padding-bottom: 35px;
}

section-aside {
	width:950px;
}



}























